{"openapi":"3.1.0","info":{"title":"Signo API","version":"1.0.0","description":"Send events to Signo. Create a topic in the app, copy its namespace, and POST events to it from anywhere. Signo delivers them to every device subscribed to that topic."},"servers":[{"url":"https://signo.digitospace.com"}],"components":{"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}},"parameters":{}},"paths":{"/api/events":{"post":{"summary":"Emit an event","description":"Emits an event to the topic named by `namespace`; Signo delivers it to every device subscribed to that topic. The unguessable namespace is the address — no auth header required.","tags":["Events"],"security":[],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"namespace":{"type":"string","minLength":1},"title":{"type":"string","minLength":1,"maxLength":120},"body":{"type":"string","maxLength":500},"subtitle":{"type":"string","maxLength":120},"image":{"type":"string","maxLength":2000,"format":"uri"},"badge":{"type":"integer","minimum":0,"maximum":999999},"sound":{"anyOf":[{"type":"string","enum":["default"]},{"type":"null"},{"type":"null"}]},"priority":{"type":"string","enum":["default","normal","high"]},"interruptionLevel":{"type":"string","enum":["active","critical","passive","time-sensitive"]},"ttl":{"type":"integer","minimum":0},"expiration":{"type":"integer","minimum":0},"categoryId":{"type":"string","maxLength":100},"mutableContent":{"type":"boolean"},"payload":{"type":"object","additionalProperties":{}}},"required":["namespace","title"]}}}},"responses":{"202":{"description":"Accepted — number of devices delivered to","content":{"application/json":{"schema":{"type":"object","properties":{"eventId":{"type":"string"},"delivered":{"type":"number"}},"required":["eventId","delivered"]}}}},"404":{"description":"Unknown namespace","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}}},"webhooks":{}}
